<div class="pContainer">
    <div class="pRow">
        <p-panel header="Basic usage" [toggleable]="true">
            <ngx-doc-viewer [url]="pdfOption" [viewer]="'pdf'" style="width:80%;height:50vh;">
            </ngx-doc-viewer>
        </p-panel>
    </div>


    <div class="pRow">
        <p-panel header="With Modal">
            <p-button (click)="showMaximizableDialog()" icon="pi pi-external-link" label="Open">
            </p-button>

            <p-dialog header="Godfather I" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '60%' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="true">
                <ngx-doc-viewer [url]="pdfOption" [viewer]="'pdf'" style="width:100%;height:70vh;">
                </ngx-doc-viewer>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Close" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
        </p-panel>
    </div>
</div>